body{
    display:flex;
    flex-direction: column;
    gap:6px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: white;
    gap:5px;
    padding:20px;
    border-radius: 6px;
}

.login-form input{
    border:1px solid gray;
    border-radius: 6px;
    padding:5px 90px;
    text-align: center;
}

button{
    background-color: #2596be;
    border:0;
    border-radius: 6px;
    padding:10px;
    color: white;
    font-weight: bold;
    cursor:pointer
}

a{
    color:#2596be;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}